
  
  header {
  border:solid darkgray;
  line-height: 1.5em;
  background-color: white;
  margin: 5px 0px 0px 0px;
  Padding: 5px 0px 0px 0px;
  background-color: white;
}
h1 {
  color: white;
  background-color: #4aaaa5;
  width: 220px;
  margin: 0px 0px 0px 80px;
  padding: 5px 5px 5px 5px;
}
nav {
  border:solid darkgray;
  float: right;
  line-height: 1.5em;
  margin: 5px 0px 5px 0px;
  Padding: 5px 0px 0px 0px;
}
li:hover {
  background-color: #666666;
  border-bottom: 3px solid #4aaaa5;
}
ul {
  display: flex;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 15px;
}

div {
background-image: url("assets/images/bghw.jpg");
padding: 20px 0px 0px 0px;

}

#mainbio {
  background-color: white;
  border:solid darkgray 5px;
  margin: 20px 100px 0px 100px;
  padding: 5px 20px 0px 20px;
  
}


#footer {
  position: fixed;
  padding: 20px 0;
  text-align: center;
  background-color: #666666;
  text-decoration: none;
  border-top: 8px solid #4aaaa5;
  width: 100%;
}

