
  
  header {
  border:solid darkgray;
  line-height: 1.5em;
  background-color: white;
  margin: 5px 0px 5px 0px;
  Padding: 5px 0px 0px 0px;
  background-color: white;
}
h1 {
  color: white;
  background-color: #4aaaa5;
  width: 220px;
  margin: 0px 0px 0px 80px;
  padding: 5px 5px 5px 5px;
}
nav {
  color: #666666;
  width: 100px;
  line-height: 1.5em;
  border:solid darkgray;
  width: 100px;
  float: right;
  font-size: 25px;
  line-height: 10px;
  margin: 1px 20px 20px 1px;
  padding: 5px 5px 5px 5px;
  clear: both;
}
li:hover {
  background-color: #666666;
  border-bottom: 3px solid #4aaaa5;

}

#mainbio {
  border:solid darkgray;
  width: 960px;
  margin: 0px 20px 0px 20px;
  
}

#footer {
  position: fixed;
  padding: 20px 0;
  text-align: center;
  background-color: #666666;
  text-decoration: none;
  border-top: 8px solid #4aaaa5;
  width: 100%;
}

